.main-ctx{
    display: grid;
    min-height: 100vh;
}

.content__ctx{
    width: 100%;
    margin-top: 5.2rem;
    max-height: 100vh;
    overflow-y: scroll;
}

@media(min-width: 768px){
    .main-ctx{
        display: flex;
    }
    .content__ctx{
        margin-top: 0;
    }
}